header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_row_1 {
  display: flex;
}
.header_row_1_1 {
  width: 7em;
}
.header_row_1_1 img {
  width: 100%;
}
.header_row_1_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
}
.header_row_1_2_1 {
  font-size: 2em;
  font-weight: bold;
  color: #ff7029;
  font-family: arial;
}
.header_row_1_2_2 {
  font-weight: bold;
  font-size: 1.1em;
  font-family: arial;
  font-style: italic;
}
.header_row_1_2_3 {
  font-family: arial;
  font-size: 0.9em;
}
.header_row_2 {
  display: flex;
  align-items: center;
}
.menu_list {
  display: flex;
  list-style: none;
}
.menu_list li {
  margin-right: 1.7em;
}
.menu_list li a {
  text-decoration: none;
  color: black;
  font-family: arial;
}
.invisible_hyphen {
  opacity: 0;
  pointer-events: none;
}
.hover_effect {
  position: relative;
}
.hover_effect::after {
  content: "";
  background-color: rgb(65, 63, 63);
  height: 3px;
  width: 0%;
  position: absolute;
  left: 0px;
  bottom: -5px;
  transition: width 1s;
}
.hover_effect:hover::after {
  width: 100%;
}
/* @media only screen and (max-width: 830px) {
  .header_row_1_1 {
    width: 5em;
  }
  .header_row_1_2_1 {
    font-size: 1.3em;
  }
  .header_row_1_2_2 {
    font-size: 1em;
  }
  .header_row_1_2_3 {
    font-size: 0.7em;
  }
} */
