* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}
.container {
  background-color: #e9b824;
  max-width: 100%;
}
header {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}
main {
  padding: 0em 2em;
}
